*{
    
    padding: 0px;
    margin: 0px;
    background-color: white;
    

}

body{
    height: 90vh;
    font-family: 'Oswald', sans-serif;
    color: black;
    padding: 0 30% 0 30%;
    /* border: 2px solid black; */
}

.nav{

    display: block;
    text-align: center;
    
    
}

.nav-bar{

    
    
}

.nav-bar ul{

    display: flex;
    padding: 0 20% 0 20%;
    
}

.nav-bar ul li{

    display: inline-block;
    text-align: center;
    list-style: none;
    margin: 12px;
    padding: 12px;
    /* border: 2px solid black; */
}

.nav-bar ul li a{

    font-size: 20px;
    text-emphasis: none;
    text-decoration: none;
    color: black;

}

.logo img{

    height: 30%;
    width: 30%;
}

.header{

    display: block;
    text-align: center;
    margin: 20px 0px 20px 0px;
    /* border: 2px solid black; */
}


.description{
    
    display: block;
    text-align: center;
    /* border: 2px solid black; */
    
}

.content{

    display: block;
    text-align: center;
    font-size: 18px;
    /* border: 2px solid black; */
    
}

.footer{
    
    display: block;
    text-align: center;
    /* border: 2px solid black; */
    margin: 10% 0px 0px 0px;
}
