*{
    
    padding: 0px;
    margin: 0px;
    /* font-size: 40px; */
    background: white;


}

body{
    height: 100vh;
    font-family: 'Anek Malayalam', sans-serif;
    color: black;

    /* border: 2px solid black; */
}

.nav-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-start;
    /* background-color: white; */
    /* width: 100vw; */
    
}



.logo{

    width: 100px;
    height: 100px;
    border-radius: 9px;
    margin: 20px; 
}

.nav-container ul{
    display: flex;    
    margin: 40px;
    
}

.nav-container ul li{
    
    list-style: none;

}

.nav-container ul li a{

    text-decoration: none;
    font-size: 28px;
    color: black;
    padding: 29px;

    
    
}

.hamburger{
    display: none;
    cursor: pointer;
    margin-top: 57px;
    margin-right: 27px;
    margin-left: 50px;
}

.bar{

    display: block;
    width: 29px;
    height: 1px;
    margin: 7px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;

}



.header-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
       /* width: 100%; */

}




.description{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;

    
}


.content{

    width: 500px;
    height: 300px;
    font-size: 20px;
    margin-top: 80px;

}


.high-h1{

    font-size: 70px;
    padding: 10px;
    border-radius: 9px;
    box-shadow: 0px 0px 40px 1px #000000 ;
}

.high-h1:hover{

    box-shadow: 0px 0px 40px 1px #f00202;

}

.img-hero{
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-top: 5px;
}

.logo-hero{
    
    width: 80%;
    border-radius: 9px;
    
    

}

.logo-hero:hover{

    box-shadow: 0px 0px 40px 1px #f00202;

}

.footer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    
    
    
}

.text-1{

    width: 100vw;
    font-size: 20px;
    margin-top: 50px;
    opacity: 0.7;
    text-align: center;

}


@media(max-width: 800px){

    *{
        background-color: white;
        color: black;
    }
    
    .hamburger{
        display: block;
         
    }

    .bar{
        background-color: black;

       
    }

    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1){
        transform: translateY(10px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3){
        transform: translateY(-9px) rotate(-45deg);
    }


    
    .nav-menu{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        position:absolute;
        left: -150%;
        flex-direction: column;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.8s;
        margin-top: 8em;
        
        /* margin-left: 0em; */
        
        
        
    }

    .nav-link a{
        
        display: block;
        background-color: white;
        color: white;
        /* margin: 0px;
        padding: 0px; */
        font-size: 15px;
        
       
    }

  

    .nav-menu.active{

        left: 0;
        display: block;
        
    }


    .header-container{

        /* padding: 10px; */
    }

    

    .content{

        width: 500px;
        height: 300px;
    }
    
    .description{

        margin-top: 5em;    
        /* padding-left: 100px; */
        text-align: center;
        /* padding-right: 100px; */

    }

    .footer{

        margin-top: 8em;
    }

}





